.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }

.center {
  text-align: center;
  border: 3px solid green;
}

.h5 {
  text-align: center;
}

.card {
  /* text-align: auto; */
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  align-items: center;
}

.down {
  color: black;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}